<% include ../partials/header %>


    <header class="jumbotron">
        <div class="text-center">
            <h1 class="display-4">Find your Wild!</h1>
            <p class="lead">View our hand-picked campgrounds from all over the world</p>
            <hr>
            <p><a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Campground</a></p>
                <form action="/campgrounds" method="GET" class="form-inline d-flex justify-content-center">
                    <div class="form-group search">
                        <input type="text" name="search" placeholder="Find a Campground!" class="form-control searchBar">
                        <input type="submit" value="Search" class="btn btn-dark">
                    </div>
                </form>
        </div>
    </header>

    <div class="row text-center" id="campground-grid">
        <div class="col-lg-12 mb-4">
            <% if (noMatch) { %>
            <h5><%= noMatch %></h5>
            <% } else { %>
            <h4>Our Most Popular Campgrounds!</h4>
        </div>
        <% campgrounds.forEach(campground => { %>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="card">
                <img class="card-img-top" src="<%= campground.image %>" alt="<%= campground.name %>">
                <div class="card-body">
                    <h5 class="card-title"><%= campground.name %></h5>
                    <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
                    </div>
                </div>
            </div>
            <% }); %>
            <% } %> 
    </div>

<% include ../partials/footer %>